@import '../../styles/variables.scss';

@keyframes my-animation {
  from {
    margin-left: 0px;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  
  to {
    margin-left: 0px;
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.container {
  background-color: $dark;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 700px;
  padding: 160px 0px;
  z-index: 2;

  @media (max-width: 992px) { 
    height: 220px;
    padding: 30px 0px;
  }
}

.marquee {
  position: absolute;
  display: block;
  margin: auto;
  white-space: nowrap;
  overflow:  hidden;
  min-width: 100%;
  height: 100%;
}

.text {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  min-width: 100%;
  height: 100%;

  //FONT
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 300px;
  line-height: 352px;
  letter-spacing: 0.04em;
  color: $white;
  -moz-animation: my-animation 12s infinite linear;
  -webkit-animation: my-animation 12s infinite linear;
  animation: my-animation 12s infinite linear;

  @media (max-width: 992px) { 
    font-size: 64px;
    line-height: 75px;
  }
}

.delay {
  animation-delay: 6s;
  margin-left: 100%;
}

.purple {
  color: $purple;
}